@{
    ViewData["Title"] = "Contact Us";
}

<div class="row"> 
        <img src="~/img/img_1.jpg" style="height: 600px"/>
</div>

<div class="container mt-5">
    <h1 class="text-center mb-5">Cotact Us</h1>
  <div class="row mt-5">
    <div class="col">
      <h3>Contact Info</h3>
      <ul class="list-group">
        <li class="list-group-item"><i class="fa-solid fa-envelope"></i>&nbsp;dangolhospital@gmail.com</li>
        <li class="list-group-item"><i class="fa-solid fa-phone"></i>&nbsp;+977-9898989898</li>
        <li class="list-group-item"><i class="fa-brands fa-chrome"></i>&nbsp;www.dangolhospital.com</li>
        <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>&nbsp;Basundhara, Kathmandu</li>
        
</ul>
    </div>
    <div class="col">
      <div class="mb-3">
    <label for="name" class="form-label"></label>
    <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="mb-3">
    <label for="email" class="form-label"></label>
    <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
    <div class="mb-3">
    <label for="message" class="form-label"></label>
    <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Send Message</button>
    </div>
  </div>
</div>
