@{
    ViewData["Title"] = "Gallery";
}

<div class="row"> 
        <img src="~/img/img_1.jpg" style="height: 600px"/>
</div>

<div class="container "> 

    <div class="text-center mt-5">
        <h2>Gallery</h2>
        <h5>Hospital Management System</h5>
    </div>

    <div class="row">
        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_1.jpg" class="card-img-top" alt="">
            </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_2.jpg" class="card-img-top" alt="" />
            </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_3.jpg" class="card-img-top" alt="">
             
            </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_5.jpg" class="card-img-top" alt="">
             
            </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_6.jpg" class="card-img-top" alt="">
             
            </div>
        </div>

        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
            <img src="~/img/card_7.jpg" class="card-img-top" alt="">
             
            </div>
        </div>


    </div>
</div>
